node_modules/
.env
cache/
out/
coverage/
coverage.json
dist/
.DS_Store
*.env
.env.*
build/
.vscode/

# Foundry specific
cache/
out/
broadcast/

# Frontend specific
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.next/*
